<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <ros2_control name="arm_fake" type="system">
    <hardware>
      <plugin>arm_fake_control/FakeSystem</plugin>
    </hardware>
    <!-- 6 个关节顺序与 URDF 保持一致 -->
    <xacro:macro name="joint_interface" params="name">
      <joint name="${name}">
        <command_interface name="position"/>
        <state_interface name="position"/>
      </joint>
    </xacro:macro>

    <xacro:joint_interface name="joint0"/>
    <xacro:joint_interface name="joint1"/>
    <xacro:joint_interface name="joint2"/>
    <xacro:joint_interface name="joint3"/>
    <xacro:joint_interface name="joint4"/>
    <xacro:joint_interface name="joint5"/>
  </ros2_control>
</robot>